[Desktop Entry]
Type=Application
Name=sakms-node tray
Comment=System tray companion for sakms-node worker daemon
Exec=/usr/bin/sakms-node-tray
Icon=sakms-node
Categories=Network;
StartupNotify=false
X-GNOME-Autostart-enabled=true
